:root {
  --c-bg: #fff;
  --c-scrollbar: #bbb;
  --c-scrollbar-hover: #999;
}

html,
body {
  @apply w-full h-full;

  #app {
    @apply w-full h-full;
  }
}

::-webkit-scrollbar {
  width: 8px;

}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}
